#root {
  display: flex;
  justify-content:center;
  width:100%;
}
.App{
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
  max-width:900px;
  width:100%;
}
.photoHolder{
  width:100%;
  background: skyblue;
  display:flex;
  align-items:center;
  margin-top:1rem;
  justify-content:center;
}
img{
  width:100%;
}
